<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Task</title>
</head>
<body>
    <style>
        h2{
            text-align: center;
        }
        form{
            text-align: center;
        }
        a{
            text-decoration: none;
            margin-right: 5px;
            border: 2px solid magenta;
            border-radius: 12px;
            padding: 5px;
        }
        input{
            padding: 5px;
            border-radius: 12px;
        }
    </style>
   <h2>Are you shure you want to Delete the Task <span>{{task}}</span></h2> 
   <form action="" method="POST">
    {% csrf_token %}
    <a href="{% url 'home' %}">Cancle</a> 
    <!-- {{form.title}} -->
    <input type="submit" name="confirm">
   </form>
</body>
</html>