
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Task</title>
</head>
<body>

    <style>
        h1{
            text-align: center;
        }
        form{
            text-align: center;
        }
        a{
            text-decoration: none;
            margin-right: 5px;
            border: 2px solid magenta;
            border-radius: 12px;
            padding: 5px;
        }
        input{
            padding: 5px;
            border-radius: 12px;
        }
    </style>
    <h1>Edit The Task</h1>


    <div>
        <form action="" method="POST">
            {% csrf_token %}
            {{form}}
            <input type="submit" name="edit">
        </form>
    </div>
    
    
</body>
</html>